* {
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans';
}

main {
    margin-top: 3 rem;
    padding: 2rem;
}

h1 {
    margin-top: 2rem;
    text-align: center;
}

.home-icon {
    width: 10px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    border: none;
}

.progress {
    width: 100%;
}

.todo-list {
    width: 100%;
    max-width: 400px; 
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid;
    border-color: #d1e5f4;
}

.todo-list h2 {
    text-align: center;
}

.today-list {
    border: 10px solid;
    border-color: #ffe5f1;
}

#add-task {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    border: 2px solid lightyellow; 
    border-radius: 8px;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    background-color: #fff; 
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    
}

#add-task .footer-element {
    margin-right: 1 rem;
    margin-left: 1rem;
    margin-top: 1rem;
}



nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f5f5f5;
    color: #2D4E7B;
    padding: 1rem;
    padding-bottom: 1rem;
    z-index: 1000;
}

nav ul {
    padding: 0;
    margin: 0;

}

nav li {
    display: inline;
    padding: 0;
    margin: 0 1rem;
}

#nav-links {
    display: none;
}

#hamburger-menu {
    display: block;
    font-size: 2rem;
    cursor: pointer;
}


.navbar-brand {
    font-weight: bold;
    color: #2D4E7B;
}

.navbar-nav .nav-link {
    color: #2D4E7B;
}

.navbar-nav .nav-link:hover {
    color: #17263A;
}

.progress-bar {
    background-color: #FFD1E9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 

}

.card .subject {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.searchBar {
    display: flex;
    padding-bottom: 2rem;
    max-width: 75%;
    margin: auto;
}

.searchBar select {
   margin-right: 0.5rem;
   border-color: lightgray;
   border-radius: 8px;
   padding: .5rem;
}

.addSubject {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

@media (min-width: 598px) {

}

@media (min-width: 992px) {
    img {
        max-height: 150px;
    }
}

